<!DOCTYPE html>
<html lang="es">

<head>
    <style>
        .container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .error-title {
            font-size: 100px;
            color: #007bff;
        }

        .error-message {
            font-size: 24px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div>
            <div class="error-title">404</div>
            <div class="error-message">¡Ups! La pagina no se a encontrado o no existe</div>
            <div class="error-message"> Error 404</div>
            <br></br>
            <button href="/"> Volver al inicio </button>
        </div>

    </div>

</body>

</html>
