<!DOCTYPE html>
<html lang="es">

<head>
    <style>
        .container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .error-title {
            font-size: 100px;
            color: #ff0000;
        }

        .error-message {
            font-size: 24px;
        }


    </style>
</head>

<body>

    <div class="container">
        <div>
            <img src="https://static.wikia.nocookie.net/plantsvszombies/images/7/79/O.O.png/revision/latest/smart/width/386/height/259?cb=20170104212024&path-prefix=es">
            <div class="error-title">500</div>
            <div class="error-message">¡Ups! Algo salio mal</div>
            <div class="error-message"> Error 500</div>
            <br></br>
            <button href="/"> Volver al inicio </button>
        </div>
    </div>

</body>

</html>